* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}

.hand {
  display: flex;
  justify-content: center;
}

.card {
  width: 60px;
  height: 100px;
  margin: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
